{% extends 'index.html' %}
{% block title %}ДОСТАВКА{% endblock %}
{% block preloader %}
{% endblock %}

{% block content%}

<div class="dostavka">
    <p> 
        <br>Курьерская доставка по Москве - осуществляется транспортной компанией СДЭК, стоимость по России и Беларуси - 350₽
        <br>
        <br>Доставка Почтой РФ - 500₽
        <br>
        <br>При необходимости доставки в другие страны пишите менеджеру в Телеграм: <a href="https://t.me/thatisfranchise" target="_blank">https://t.me/thatisfranchise</a>
    </p>
</div>

{% endblock %}