{% extends 'index.html' %}
{% block title %}GALLERY{% endblock %}
{%block header%}
{%endblock%}
{% block content%}
<section>
    <div class="gallery-container">
        <img src="static/images/IMG_3487.JPG" alt="">
        <img src="static/images/IMG_3488.JPG" alt="">
        <img src="static/images/IMG_3489.JPG" alt="">
        <img src="static/images/IMG_3561.JPG" alt="">
        <img src="static/images/IMG_3621.JPG" alt="">
        <img src="static/images/IMG_6210.JPG" alt="">
        <img src="static/images/IMG_6211.JPG" alt="">
        <img src="static/images/IMG_8693.JPG" alt="">
        <img src="static/images/IMG_8694.JPG" alt="">
        <img src="static/images/IMG_8696.JPG" alt="">
        <img src="static/images/IMG_8791.PNG" alt="">
        <img src="static/images/IMG_8792.PNG" alt="">
        <div class="gallery-you">
            <h1>YOU</h1>
        </div>
        <img src="static/images/IMG_8793.PNG" alt="">
        <img src="static/images/IMG_8794.PNG" alt="">
        <img src="static/images/IMG_8795.PNG" alt="">
        <img src="static/images/IMG_8796.PNG" alt="">
        <img src="static/images/IMG_8797.PNG" alt="">
        <img src="static/images/IMG_8798.PNG" alt="">
        <img src="static/images/IMG_9134.PNG" alt="">
        <img src="static/images/IMG_9135.PNG" alt="">
        <img src="static/images/IMG_9137.PNG" alt="">
        <img src="static/images/IMG_9138.PNG" alt="">
        <img src="static/images/IMG_9431.JPG" alt="">
        <img src="static/images/IMG_9432.JPG" alt="">    
    </div>
</section>
{% endblock %}